.banner {
  background-color: crimson;
  display: flex;
  justify-content: center;
}

.banner--globe {
  width: 75px;
}

.destination {
  margin-top: 50px;
  margin-left: 50px;
  height: 250px;
}

.destination--img {
  width: 140px;
  height: 220px;
  margin-right: 40px;
  border-radius: 5px;
}

.destination--marker {
  height: 25px;
  position: relative;
  top: -170px;
}

.destination--country {
  display: inline-block;
  position: relative;
  top: -170px;
  margin-left: 20px;
}

.destination--link {
  position: relative;
  top: -170px;
  margin-left: 20px;
  color: gray;
}

.destination--title {
  position: relative;
  top: -170px;
  margin-left: 150px;
}

.destination--date {
  position: relative;
  top: -170px;
  margin-left: 150px;
}

.destination--info {
  position: relative;
  top: -170px;
  margin-left: 150px;
}
